html
    head
        title=title
        meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;')
        meta(name='apple-mobile-web-app-capable', content='yes')
        link(href='/css/style.css', rel='stylesheet')
        script(src='/js/featuredisable.js')
        body(margin="auto")
            div.homecontainer
                div.centered
                    span Welcome to the Movement Assessment Study. 
                    br
                    div(onclick="move()")#beginButton Begin
                    span Press the green button above to begin.
                    script.
                        function move() {
                            //window.location.href = '/tasksetup/'
                            window.location.assign('/taskinit/')
                        }
