html
    head
        title=title
        link(href='/css/style.css', rel='stylesheet')
        body(margin="auto")
            div.homecontainer
                div.centered
                    span Welcome to the Movement Assessment Study. 
                    br
                    a(href='/taskinit/')
                        div#beginButton Begin
                    span Press the green button above to begin.
