html
    head
        title=title
        meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;')
        link(href='/css/style.css', rel='stylesheet')
        link(href='/css/circle.css', rel='stylesheet')
        script(src='/socket.io/socket.io.js')
        meta(name='apple-mobile-web-app-capable', content='yes')
        script(src='http://code.jquery.com/jquery-1.11.3.min.js')
        script(src='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js')
        script(src='/js/featuredisable.js')
        //script(src='/js/papaparse.js');
        script(type='text/javascript')
        script(src='/js/workspace.js')
        div.head
            p#headerContent
        div.notice
            //p#noticeContent
        body(margin="auto")
            div#centeredPatient
                div#objectSetup
                        //span#SetupText Study Instructions
                        <p style="font-family:sans-serif;text-align:middle; font-size:50px; font-weight:bold;">Study Instructions </p>
                        br
                        br
                        <p style="font-family:sans-serif;text-align:middle;font-size:30px;">In this study, you will be asked to complete 12 activities. </p>
                        //span In this study, you will be asked to complete 12 activities.
                        <p style="font-family:sans-serif;text-align:middle;font-size:30px;">You will be asked to repeat each activity 4 times. </p>
                        //span You will be asked to repeat each activity 4 times.
                        br
                        br
                        br
                        br
                        //span Please press anywhere on the green area to move forward.
                        <p style="font-family:sans-serif;text-align:middle;font-size:20px;">Please press anywhere on the green area to move forward. </p>

        div(onclick="move()")#start
            div.centered
                div.forward
                    img(src="../img/icons-all/forward.png")


        script.
            function move() {
                window.location.assign('/taskinit/')
            }
