html
    head
        title=title
        link(href='/css/style.css', rel='stylesheet')
        script(src='/js/featuredisable.js')
        body(margin="auto")
            div.homecontainer
                div.centered
                    span Thank You for Participating in the INR study.
