html
    head
        title=title
        meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;')
        link(href='/css/style.css', rel='stylesheet')
        link(href='/css/circle.css', rel='stylesheet')
        script(src='/socket.io/socket.io.js')
        script(src='http://code.jquery.com/jquery-1.11.3.min.js')
        script(src='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js')
        script(src='/js/featuredisable.js')
        //script(src='/js/papaparse.js');
        script(type='text/javascript')
        script(src='/js/tasksetup.js')
        div.head
            p#headerContent 
        div.notice
            //p#noticeContent
        body(margin="auto")
            div#centeredPatient
                div#firstDiagram
                    div.centered
                        span#firstDiagramText Place the object(s) on the highlighted area of the mat
                        img#firstSetup(src="")
                        // going to change this with the javascript each time I believe
            div(onclick="move()")#start
                div.centered
                    div.forward
                        img(src="../img/icons-all/forward.png")

        script.
            function move() {
                window.location.assign('/videosetup/')
            }
